In [ ]:
%load_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False
%config SqlMagic.displaylimit = 50

In [ ]:
%sql sqlite:///Distributeur.db

In [ ]:
%%sql
CREATE TABLE Boissons (
    BoissonId INTEGER NOT NULL, 
    Nom VARCHAR,
    Contenance INTEGER,
    Prix DOUBLE,
    PRIMARY KEY (BoissonId));

#BoissonId INTEGER NOT NULL : identifiant et clé primaire
#Nom VARCHAR : chaine de caractère 
#Contenance INTEGER : Valeure numérique ne nécéssitant pas de décimales
#Prix DOUBLE : prix pouvant avoir des décimales

In [ ]:
%%sql

INSERT INTO Boissons 
VALUES 
    (1, "Coca", 33, 0.99), 
    (2, "Perrier", 100, 2),
    (3, "Perrier", 33, 1),
    (4, "Vittel", 150, 1.50),
    (5, "Badoit", 50, 2);

In [ ]:

%%sql

CREATE TABLE Factures (
    FactureId INTEGER NOT NULL, 
    BoissId,
    Heure,
    PRIMARY KEY (FactureId)
    FOREIGN KEY (BoissId) REFERENCES Boissons (BoissonId));

In [ ]:
%%sql

INSERT INTO Factures 
VALUES 
    (1,1,7), 
    (2,1,8),
    (3,4,12);

In [ ]:
"""
pour supprimer la table Boissons, il faut dans un premier temps supprimer la table Factures car celle ci dépend de la table Boissons. 
une fois supprimée, il est possible de supprimer la table Boissons.
"""

In [ ]:
"""
Oui, il est possible d'ajouter le tuple (1, Sprite, 50, 1) car il correspond au format de la table Boissons.
"""

In [ ]:
%%sql

SELECT Boissons.Nom, Factures.FactureId
FROM Factures RIGHT JOIN Boissons ON Factures.BoissId = Boissons.BoissonId
WHERE Boissons.BoissonId NOT IN (Factures.BoissId );

In [ ]:
%%sql

SELECT BoissId, COUNT(BoissId)
FROM Factures 
GROUP BY BoissId;

In [ ]:
%%sql

DROP TABLE IF EXISTS Boissons
DROP TABLE IF EXISTS Factures;

### exercice 2

In [ ]:
%%sql

SELECT 
    name,sql
FROM 
    sqlite_schema
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';

In [ ]:
%%sql

SELECT type, COUNT(title_Id)
FROM titles 
GROUP BY type;

In [ ]:
%%sql

SELECT titles.primary_title, ratings.rating, ratings.votes 
FROM titles
INNER JOIN ratings ON ratings.title_id = titles.title_Id
WHERE ratings.votes >5000
ORDER BY ratings.rating DESC LIMIT 10;

In [ ]:
%%sql
SELECT titles.type, AVG(ratings.rating)
FROM titles
INNER JOIN ratings ON titles.title_id = ratings.title_Id
GROUP BY titles.type;

In [ ]:
%%sql

SELECT people.name, Avg(ratings.rating)
FROM (people INNER JOIN (titles INNER JOIN crew ON titles.title_id = crew.title_id) ON people.Person_id = crew.person_id) INNER JOIN ratings ON titles.title_id = ratings.title_id
GROUP BY people.name, crew.job
HAVING (((crew.job)="director"))
ORDER BY people.name DESC LIMIT 10;

In [ ]:
%%sql
SELECT ratings.rating, people.name, titles.primary_title
FROM (people INNER JOIN (titles INNER JOIN crew ON titles.title_id = crew.title_id) ON people.Person_id = crew.person_id) INNER JOIN ratings ON titles.title_id = ratings.title_id
GROUP BY ratings.rating, people.name, titles.primary_title
HAVING (((people.name)="Quentin Tarantino"))
ORDER BY ratings.rating DESC;

In [ ]:
%%sql

SELECT ratings.rating, people.name, crew.category
FROM (people INNER JOIN (titles INNER JOIN crew ON titles.title_id = crew.title_id) ON people.Person_id = crew.person_id) INNER JOIN ratings ON titles.title_id = ratings.title_id
WHERE (((ratings.votes)>5000) AND ((crew.category)="actor") OR (crew.category)="actress")
ORDER BY ratings.rating DESC LIMIT 10;

In [ ]:
%%sql

SELECT crew.category, Avg(ratings.rating)
FROM (people INNER JOIN (titles INNER JOIN crew ON titles.title_id = crew.title_id) ON people.Person_id = crew.person_id) INNER JOIN ratings ON titles.title_id = ratings.title_id
GROUP BY crew.category
HAVING (((crew.category)="actor") OR ((crew.category)="actress"));